.navigationWrapper {
  background-color: var(--inputs);
}

.navigation {
  max-width: 1312px;
  padding-left: 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  position: relative;
}

.logoLink {
  padding: 24px 0;
  display: flex;
  align-items: center;
}

.centerLinks {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
}

.isActive {
  color: var(--button-hover);
}
